<form class="form" action="/posts/new" method="post">
  <label for="name" class="form-item">
    Name:
    <select name = 'user_id'>
    {{#each users}}
      <option value="{{id}}">{{name}}</option>
    {{/each}}
    </select>
  </label>
<br>
  <label for="email" class="form-item">
    Email:
    <input type="text" name="email" value="{{email}}">
  </label>
<br>
  <label for="url" class="form-item">
    URL:
    <input placeholder="http://www.yoururl.com" type="text" name="url" value="{{url}}">
  </label>
<br>
  <label for="image" class="form-item">
    Image:
    <input placeholder="http://www.yourimage.com" type="text" name="image" value="{{image}}">
  </label>
<br>
  <input type="submit" name="" value="Submit">
</form>
